<template name="notifications">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "notifications"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-speakerphone"></i> {{_ "notifications"}} <span class="badge badge-dark">{{notificationsCount}}</span>
    </div>
    {{#transition in="zoomIn" out="bounceOut"}}
    {{#each notifications}}
    {{#if link}}
    <a class="item item-button-right animated out clickGo" href="{{link}}">
      <h2>{{title}}</h2>
      <p>
        {{text}}
      </p>
      <p><i class="icon ion-clock"></i> {{livestamp addedAt}}</p>
      <button class="button button-positive removeMe">
        <i class="icon ion-android-remove-circle"></i>
      </button>
    </a>
    {{else}}
    <div class="item animated out">
      <h2>{{title}}</h2>
      <p>
        {{text}}
      </p>
    </div>
    {{/if}}
    {{else}}
    {{#ionItem}}
    {{_ "not notifications"}}
    {{/ionItem}}
    {{/each}}
    {{/transition}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>
