<template name="share">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "share"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        <div class="list" data-snap-ignore="true">

          <div class="item item-divider">
            <i class="icon fa fa-share"></i> {{__ "share content with your network"}}
          </div>

          {{> shareAdd}}

          {{#if newsId}}
            <div class="card">
              {{> newsDetailData scope=scope share="1"}}
            </div>
          {{else}}
            {{> scopeCard class="card" scope=scope shareVisible=true}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="shareAdd">
  {{#autoForm id="addShare" schema=SchemasShareRest type="method" meteormethod="shareEntity" template="ionic" class=""}}
    {{> afQuickField name='comment' label-type='placeholder' rows=2}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{__ "share"}}</button>
      </div>
    </div>
  {{/autoForm}}
</template>