<template name="qrcode">
  <div class="list card">
    <div id="qrcode" class="item" style="text-align:center"></div>
  </div>
</template>

<template name="_qrcode">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-stable">
      <button data-dismiss="modal" type="button" class="button button-clear">Annuler</button>
      <h2 class="title">QR code</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="item text-center">
        {{> generateQRCode url=shareUrl}}
      </div>
    </div>
  {{/ionModal}}
</template>