.DS_Store
*~
mapphotos.bfproject
config.push.json
/settings.json
/settings-prod.json
/settings-dev.json
/settings-qa.json
electron-settings.json
electron-settings-prod.json
cordova.facebook.json
private/*
.desktop-installer/
.desktop-package/
public/i18n/
node_modules/

version.desktop
