<template name="login">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Communecter</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/logoL.jpg" alt="" class="animated jello">
      </div>
      <div class="animated fadeInLeft text-center">
        <img src="/byPH.png" class="bypixel" />
      </div>

      <form class="login-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}

          {{>servicesOauth checkone=checkone}}

          <div class="animated fadeInLeft list" data-snap-ignore="true">
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ "email"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="password" placeholder="{{__ "password"}}">
            </label>
          </div>

          <div class="animated fadeInUp">
            <div class="item item-borderless item-text-wrap">
              <div class="row row-wrap row-no-padding row-center">
                <div class="col-20 col-center"><label class="checkbox">
                    <input type="checkbox" value="true" name="checkone" id="checkone" />
                  </label></div>
                <div class="col col-center">
                  <p>{{__ "I agree with"}} <a href="" class="positive"
                      data-ion-modal="mentionsRules">{{__ "the legal notices"}}</a>,
                    <a href="" class="positive"
                      data-ion-modal="confidentialityRules">{{__ "the confidentiality rules"}}</a>
                    {{__ "and"}} <a href="" class="positive"
                      data-ion-modal="charteRules">{{__ "the charter of use"}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#unless checkone}}disabled{{/unless}} {{#if loadingLogging}}animated infinite jello{{/if}}">{{__ "loggin"}}</button>
          </div>
          <div class="animated fadeInUp padding homestead text-center">{{__ "create an account"}} <a
              href="{{pathFor 'signin'}}" class="homestead dark">{{__ "signin"}}</a>.</div>
          <div class="animated fadeInUp padding homestead text-center">
            <a href="{{pathFor 'passwordLost'}}" class="homestead dark">{{__ "forgot your password"}}</a>.
          </div>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="servicesOauth">
  {{#if services.count}}
    <div class="padding">
      <a href="" class="button button-block button-positive  {{#unless checkone}}disabled{{/unless}}"
        data-ion-popover="servicesOauthPopoverList">
        {{__ "Loggin with an external service"}}
      </a>
    </div>
  {{/if}}
</template>

<template name="servicesOauthPopoverList">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <div class="item item-divider">
          {{__ "Loggin with an external service"}}
        </div>
        {{#each service in services}}
          {{> servicesOauthItem service=service checkone=checkone}}
        {{/each}}
      </div>
    </div>
  {{/ionPopover}}
</template>

<template name="servicesOauthItem">
  <div class="padding">
    <a href="" class="item item-avatar-left item-text-wrap item-stable login-sso-js popover-backdrop">
      <img src="{{service.logoImage}}">
      {{__ service.textButton}}
    </a>
  </div>
</template>

<template name="signin">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Communecter</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/logoL.jpg" alt="" class="animated jello">
      </div>
      <div class="animated fadeInRight text-center">
        <img src="/byPH.png" class="bypixel" />
      </div>

      <form class="signup-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          <div class="animated fadeInRight list" data-snap-ignore="true">
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-person"></i>
              </div>
              <input type="text" id="name" placeholder="{{__ "name"}}">
            </label>
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ "email"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-person"></i>
              </div>
              <input type="text" id="username" placeholder="{{__ "username"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="password" placeholder="{{__ "password"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-locked"></i>
              </div>
              <input type="password" id="repassword" placeholder="{{__ "repassword"}}">
            </label>
            <label class="item item-input">
              <div class="input-label">
                <i class="icon ion-home"></i>
              </div>
              <input type="text" id="codepostal" value="{{codepostal}}" placeholder="{{__ "postcode"}}">
            </label>
            {{#if city}}
              <label class="item item-input item-select">
                <div class="input-label">
                  <i class="icon ion-location"></i>
                </div>
                <select name="city" id="city">
                  {{#each city}}
                    <option value="{{insee}}" {{citySelected}}>{{name}}</option>
                  {{/each}}
                </select>
              </label>
            {{/if}}
          </div>

          <div class="animated fadeInUp">
            <div class="item item-borderless item-text-wrap">
              <div class="row row-wrap row-no-padding row-center">
                <div class="col-20 col-center"><label class="checkbox">
                    <input type="checkbox" value="true" name="checkone" id="checkone" />
                  </label></div>
                <div class="col col-center">
                  <p>{{__ "I agree with"}} <a href="" class="positive"
                      data-ion-modal="mentionsRules">{{__ "the legal notices"}}</a>,
                    <a href="" class="positive"
                      data-ion-modal="confidentialityRules">{{__ "the confidentiality rules"}}</a>
                    {{__ "and"}} <a href="" class="positive"
                      data-ion-modal="charteRules">{{__ "the charter of use"}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#unless checkone}}disabled{{/unless}} {{#if loadingLogging}}animated infinite jello{{/if}}">
              {{__ "signin"}}</button>
          </div>

          <div class="animated fadeInUp padding homestead text-center">{{__ "already have an account"}} <a
              href="{{pathFor 'login'}}" class="homestead dark">{{__ "loggin"}}.</a></div>
        </div>
      </form>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="confidentialityRules">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ 'the confidentiality rules'}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-text-wrap item-divider">
          POLITIQUE DE CONFIDENTIALITÉ ET DONNÉES PERSONNELLES
        </div>
        <div class="item item-text-wrap">
          <p>Lorsque des données présentes sur cette application ont un caractère nominatif, les utilisateurs doivent en
            faire un
            usage
            conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l'informatique
            et
            des
            libertés (CNIL).</p>

          <p>Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d'un droit
            d'opposition
            (art. 38), d'accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent.
            Vous pouvez
            exercer ce droit en vous adressant à l'association Open Atlas.</p>

          <p>Contact mail: contact@communecter.org</p>

          Ou

          <p>Par voie postale :<br />
            Association Open Atlas<br />
            56 rue Andy<br />
            97460, ST PAUL<br />
            La réunion (fr)<br />
            Toutes les données personnelles qui sont recueillies sont traitées avec la plus stricte confidentialité. En
            particulier,
            Open Atlas s’engage à respecter la confidentialité des messages e-mails transmis au moyen d’une messagerie
            électronique.</p>
        </div>
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="charteRules">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ 'the charter of use'}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-text-wrap item-divider">
          TOUTE PERSONNE PEUT S’EXPRIMER LIBREMENT SUR LA PLATEFORME SOUS RÉSERVE DE RESPECTER LA PRÉSENTE CHARTE
        </div>
        <div class="item item-text-wrap">
          <h3>En m’inscrivant sur la plateforme:</h3>

          <p>- J’adhère à la démarche de participation: je cherche à améliorer les idées, projets, propositions
            formulées, en donnant mon avis, et propose moi-même de nouvelles solutions<br />
            - J’atteste de ma pleine et entière adhésion aux valeurs et aux règles du débat démocratique</p>
        </div>
        <div class="item item-text-wrap">
          <h3>En conséquence, je m’engage en tant que participant:</h3>

          <p>- À ne publier aucune information volontairement erronée, tronquée, ou hors sujet<br />
            - À reconnaître à chacun le droit d’avoir une opinion différente de la mienne et à la respecter<br />
            - À n’exprimer, diffuser, ou partager aucun contenu offensant ou contraire à la loi<br />
            - À signaler aux modérateurs tous les contenus en infraction avec la présente Charte</p>
        </div>
        <div class="item item-text-wrap">
          <h3>Les contributions dont le comportement est contraire à cette Charte sont susceptibles d’être modérées
            ou
            supprimées sans
            préavis.</h3>

          <p><strong class="assertive">L’équipe de modération se réserve donc le droit de supprimer:</strong></p>

          <p>- Les messages à vocation publicitaire, promotionnelle ou commerciale<br />
            - Les contributions prosélytes (politique, sectaire, religieuse, sexuelle, etc.) - sont considérées comme
            prosélytes les
            contributions qui invitent à un acte de mobilisation (signer une pétition, participer à une manifestation,
            etc.) ou qui
            ont pour vocation de susciter l'adhésion<br />
            - Les contributions portant atteinte à autrui, c'est-à-dire attaquant une personne ou un groupe de personnes
            en raison
            de leurs caractéristiques propres<br />
            - Les contributions dont le propos est injurieux, grossier, diffamatoire, irrespectueux, agressif, violent,
            raciste,xénophobe,homophobe, ou faisant l’apologie des crimes de guerre<br />
            - Les contributions renvoyant des sites internet ou des contenus dont la teneur ne respecterait pas la
            présente charte.</p>
        </div>
        <div class="item item-assertive item-text-wrap">
          <strong>Chaque personne peut contribuer tant qu’elle s’engage à respecter au préalable les règles de la
            Charte. En cas
            de
            violation grave ou répétée de la Charte, l’utilisateur est passible de voir son compte suspendu ou
            supprimé.</strong>
        </div>
        <div class="item item-assertive item-divider">

        </div>
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="mentionsRules">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ 'the legal notices'}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-text-wrap item-divider">
          INFORMATIONS ÉDITEURS
        </div>
        <div class="item item-text-wrap">
          <h3>SERVICE GESTIONNAIRE</h3>
          Open Atlas<br />
          Association de loi 1901<br />
          Voir les status officiels de l'association<br />
          56 rue Andy<br />
          97460, ST PAUL<br />
          La réunion (fr)<br />
          SIRET : 513 381 830 00027<br />
          Contact: contact@communecter.org<br />

          <h3>DIRECTION ET COORDINATION DU PROJET:</h3>
          le collectif indépendant Open R&D assure le développement du code chez Open Atlas animé par Tibor Katelbach et
          Clément
          Damiens.

          <h3>GESTION ÉDITORIALE ET GRAPHISME:</h3>
          Association Open Atlas
        </div>
        <div class="item item-text-wrap item-divider">
          INFORMATIONS TECHNIQUES
        </div>
        <div class="item item-text-wrap">
          <h3>HÉBERGEMENT</h3>
          OVH SAS<br />
          2, rue Kellermann, 59100 Roubaix.<br />

          <h3>DPO:</h3>
          Association Open Atlas<br />
          Référent : Thomas Craipeau<br />
          Contact : admin@co.tools<br />
        </div>
        <div class="item item-text-wrap item-divider">
          PROPRIÉTÉ INTELLECTUELLE
        </div>
        <div class="item item-text-wrap">

          Les contenus présentés sur cette application sont soumis à la législation relative au droit des informations
          publiques
          et sont
          couverts par le droit d'auteur. Toute réutilisation des vidéos, des photographies, des créations graphiques,
          des
          illustrations et des lexiques, ainsi que de l'ensemble des contenus éditoriaux produits pour l'animation
          éditoriale du
          site est conditionnée à l'accord de l'auteur. Le répertoire des informations publiques de l'association Open
          Atlas
          précise la charte de réutilisation des informations publiques.

          Conformément au droit public de la propriété intellectuelle et notamment selon l'article L122-5 du Code de la
          propriété
          intellectuelle, les ''documents officiels'' sont librement réutilisables.

          Le contenu produit par l'association Open Atlas est sous licence Creative Commons CC BY-SA ainsi que le code
          constituant
          le logiciel. Ainsi Les ressources ainsi développées par Open Atlas sont réutisable et duplicable à des fins
          non
          commerciales. La réutilisation du contenu non commerciale, et notamment pédagogique, est autorisée à la
          condition de
          respecter l'intégrité des informations et de n'en altérer ni le sens, ni la portée, ni l'application et d'en
          préciser
          l'origine et la date de publication.
          Les informations ne peuvent être utilisées à des fins commerciales ou promotionnelles sans l'autorisation
          expresse et
          l'obtention d'une licence de réutilisation des informations publiques. Est considérée comme réutilisation à
          des fins
          commerciales ou promotionnelles, l'élaboration à partir des informations publiques, d'un produit ou d'un
          service destiné
          à être mis à disposition de tiers, à titre gratuit ou onéreux.

          L'utilisation des marques déposées utilisées sur cette application sur tout autre support ou réseau est
          interdite.
        </div>
        <div class="item item-text-wrap item-divider">
          CRÉDITS PHOTOGRAPHIQUES
        </div>
        <div class="item item-text-wrap">
          Les photos et les graphismes présents sur cette application proviennent de sources différentes et sont
          fournies par les
          utilisateurs et restent de leur propriété.
          Toute image publiée sur le site est automatiquement considérée comme CC-BY-SA.
        </div>
        <div class="item item-text-wrap item-divider">
          RESPONSABILITÉ DE L'ASSOCIATION
        </div>
        <div class="item item-text-wrap">

          Les informations proposées sur cette application le sont au titre de service rendu au public. Malgré tout le
          soin
          apporté à
          l’actualisation des textes officiels et à la vérification des contenus, les documents mis en ligne ne
          sauraient engager
          la responsabilité de l'association.

          Les informations et/ou documents disponibles sur cette application sont susceptibles d’être modifiés à tout
          moment, et
          peuvent
          faire l’objet de mises à jour.

          Open Atlas ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant
          de
          l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur cette application.
        </div>

        <div class="item item-text-wrap item-divider">
          DROIT APPLICABLE
        </div>
        <div class="item item-text-wrap">
          Quel que soit le lieu d’utilisation, le présent site est régi par le droit français. En cas de contestation
          éventuelle,
          et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls
          compétents
          pour connaître de ce litige.

          Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous par mail ou par
          voie
          postal aux coordonnées indiquées en début de document
        </div>

        <div class="item item-text-wrap item-divider">
          ACCEPTATION DES MENTIONS LÉGALES ET CONDITIONS D’UTILISATION
        </div>
        <div class="item item-text-wrap">

          L’utilisateur reconnaît avoir pris connaissance des conditions d’utilisation, au moment de sa connexion vers
          le site du
          communecter et déclare expressément les accepter sans réserve.

        </div>
        <div class="item item-text-wrap item-divider">
          MODIFICATIONS DES CONDITIONS GÉNÉRALES D’UTILISATION
        </div>
        <div class="item item-text-wrap">

          Open Atlas se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions
          d’utilisation
          afin de les adapter aux évolutions du site et/ou de son exploitation.
        </div>
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="passwordLost">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Communecter</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/logoL.jpg" alt="" class="animated jello">
      </div>
      <div class="animated fadeInRight text-center">
        <img src="/byPH.png" class="bypixel" />
      </div>

      <form class="password-form">
        <div class="padding form-rb-plain">
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          <div class="animated fadeInLeft list" data-snap-ignore="true">
            <label class="item item-input">
              <span class="input-label">
                <i class="icon ion-email"></i>
              </span>
              <input type="email" id="email" placeholder="{{__ " email"}}">
            </label>
          </div>
          <div class="animated fadeInUp padding">
            <button type="submit"
              class="button button-block button-positive {{#if loadingLogging}}animated infinite jello{{/if}}">{{__
          "Send"}}</button>
          </div>
          <div class="animated fadeInUp padding homestead text-center">{{__ "create an account"}} <a
              href="{{pathFor 'signin'}}" class="homestead dark">{{__ "signin"}}</a>.</div>
          <div class="animated fadeInUp padding homestead text-center">{{__ "already have an account"}} <a
              href="{{pathFor 'login'}}" class="homestead dark">{{__ "loggin"}}.</a></div>
        </div>
      </form>
    {{/ionContent}}
  {{/ionView}}
</template>