<template name="Page_search">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "search"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{> searchGlobal}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="searchGlobal">
  {{#ionList}}
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{filter}}">
      </label>
    </div>
    {{#if searchGlobal}}
      <div class="item item-divider">
        <i class="icon ion-search"></i> {{__ "search"}} <span class="badge badge-dark">{{countSearchGlobal}}</span>
      </div>
    {{/if}}

    {{#each searchGlobal}}
      {{#if equals collection 'city'}}
        <a href="" class="item item-icon-left">
          <i {{icone collection}}></i> {{name}}
        </a>
      {{else}}
        <a href="{{pathFor 'detailList' _id=_id scope=collection}}"
          class="item {{#if profilThumbImageUrl}}item-avatar{{else}}item-icon-left{{/if}}">
          {{#if profilThumbImageUrl}}{{> imgDoc}}{{else}}<i {{icone collection}}></i>{{/if}} {{name}}
          {{#if address}}
            <p>{{address.postalCode}} {{address.addressLocality}}</p>
          {{/if}}
        </a>
      {{/if}}
    {{else}}

      {{#ionItem}}
        {{#if filter}}
          {{__ "No found"}}
        {{else}}
          {{__ "Enter a search term"}}
        {{/if}}
      {{/ionItem}}

    {{/each}}
  {{/ionList}}
</template>