<template name="loading">
  {{#ionView hide-nav-bar="true"}}
    {{#ionContent class="rubyonic-pane"}}
      <div class="logo">
        <img src="/images/logo.png" class="animated infinite jello" alt="">
      </div>
      {{#if count}}
        <div style="font-family: Homestead;color: #E33551;text-align: center;">
          {{__ "loading"}} {{count}}
        </div>
      {{else}}
        <div style="font-family: Homestead;color: #E33551;text-align: center;">
          {{__ "loading"}}
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>