<head>
  <title>Communecter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<template name="camera-page">
  {{> camera}}
</template>

<template name="layout">
  {{#ionBody}}

    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-stable">
            <img src="/images/Communecter-32x32.svg">
            <h1 class="title">Communecter</h1>
            <button class="button button-clear pull-right" data-ion-menu-close>
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
          <div class="content has-header">
            <div class="list">
              {{#if currentUser}}
                <div
                  class="item item-stable {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}item-avatar{{/if}}">
                  {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}
                    {{> imgDoc profilThumbImageUrl=currentUser.profile.pixelhumain.profilThumbImageUrl}}
                  {{/if}}
                  <h2><a href="{{pathFor 'detailList' _id=currentUser._id scope='citoyens'}}" class="positive"
                      data-ion-menu-close>{{currentUser.profile.pixelhumain.name}}</a></h2>
                  <p>{{currentUser.profile.pixelhumain.email}}</p>
                </div>
                <div class="button-bar bar-stable">
                  <a href="{{pathFor 'directory' _id=currentUser._id scope='citoyens'}}"
                    class="button button-dark button-small" data-ion-menu-close><i
                      class="icon fa fa-connectdevelop"></i></a>
                  <a href="{{pathFor 'collections' _id=currentUser._id scope='citoyens'}}"
                    class="button button-dark button-small" data-ion-menu-close><i class="icon fa fa-star"></i></a>
                </div>
                <div class="button-bar bar-stable">
                  <a href="{{pathFor 'organizationsAdd' _id=currentUser._id scope='citoyens'}}"
                    class="button button-organization button-small" data-ion-menu-close><i class="icon fa fa-plus"></i>
                    <i class="icon fa fa-users"></i></a>
                  <a href="{{pathFor 'projectsAdd' _id=currentUser._id scope='citoyens'}}"
                    class="button button-project button-small" data-ion-menu-close><i class="icon fa fa-plus"></i> <i
                      class="icon fa fa-lightbulb-o"></i></a>
                  <a href="{{pathFor 'eventsAdd' _id=currentUser._id scope='citoyens'}}"
                    class="button button-event button-small" data-ion-menu-close><i class="icon fa fa-plus"></i> <i
                      class="icon fa fa-calendar"></i></a>
                  <a href="{{pathFor 'poiAdd' _id=currentUser._id scope='citoyens'}}"
                    class="button button-poi button-small" data-ion-menu-close><i class="icon fa fa-plus"></i> <i
                      class="icon fa fa-map-marker"></i></a>
                </div>
                <a class="item item-stable item-icon-right" href="{{pathFor 'dashboard'}}"
                  data-ion-menu-close>{{__ "Dashboard"}} {{> ionIcon icon="ios-speedometer"}}</a>
                <a class="item item-stable item-icon-right" href="{{pathFor 'listEvents'}}"
                  data-ion-menu-close>{{__ "events"}} {{> ionIcon icon="calendar"}}</a>
                <a class="item item-stable item-icon-right" href="{{pathFor 'listOrganizations'}}"
                  data-ion-menu-close>{{__ "organizations"}} {{> ionIcon icon="person-stalker"}}</a>
                <a class="item item-stable item-icon-right" href="{{pathFor 'listProjects'}}"
                  data-ion-menu-close>{{__ "projects"}} {{> ionIcon icon="lightbulb"}}</a>
                <a class="item item-stable item-icon-right" href="{{pathFor 'listPoi'}}"
                  data-ion-menu-close>{{__ "poi"}} <i class="icon fa fa-map-marker"></i></a>
                <a class="item item-stable item-icon-right" href="{{pathFor 'searchGlobal'}}"
                  data-ion-menu-close>{{__ "search"}} {{> ionIcon icon="search"}}</a>

                <a class="item item-stable item-icon-right" href="{{pathFor 'notifications'}}"
                  data-ion-menu-close>{{__ "Notifications"}} <span
                    class="badge badge-positive">{{#if notificationsCount}}{{notificationsCount}}{{else}}0{{/if}}</span></a>

                {{> settings}}

                <a class="item item-stable item-icon-right" href="{{pathFor 'signOut'}}"
                  data-ion-menu-close>{{__ "logout"}} {{> ionIcon icon="log-out"}}</a>

              {{/if}}
            </div>
          </div>
        {{/ionSideMenu}}

        {{#ionSideMenu side="right"}}
          <div class="bar bar-header bar-stable">
            <button class="button button-clear pull-left" data-ion-menu-close>
              <i class="icon ion-ios-arrow-left"></i>
            </button>
            <h1 class="title"><i class="icon ion-android-notifications"></i> {{__ "notifications"}}</h1>
          </div>
          <div class="content has-header">

            {{> notificationsListSwipMenu notifications=notifications allReadChecked=(allReadChecked notificationsCountRead)}}

          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-stable"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

    {{> meteorStatus lang=langChoix overlay=true}}

  {{/ionBody}}
</template>

<template name="updateStore">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Comobi</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/images/logo.png" class="animated jello">
      </div>

      {{> forceUpdateAvailable}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="forceUpdateAvailable">
  {{#if updateStore}}
    <div class="item item-assertive item-text-wrap item-divider">
      Votre version est dépassé, vous devez mettre à jour votre application depuis le store
    </div>
  {{/if}}
</template>

<template name="updateAvailable">
  {{#if isAndroid}}
    {{#if updateAvailable}}
      <div class="item item-divider">
        <a class="button button-assertive button-block" reloader-update>Appuyez ici pour mettre à jour</a>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="shareUrl">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ 'Share url'}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{__ "url"}}
        </div>

        <label type="placeholder" for="" placeholderonly="true" class="item item-input">
          <i class="icon fa fa-calendar-alt positive dark placeholder-icon"></i>
          <input type="text" placeholder="" name="shareurl" value="{{shareUrl}}"
            icon="fa fa-greater-than-equal positive">
        </label>
        {{#unless isAndroid}}
          <div class="item">
            <button id="copyurl" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
              {{__ "Copy"}}</button>
          </div>
        {{else}}
          <div class="item item-text-wrap">
            {{__ 'Use the copy function when you click on the field where there is the link'}}
          </div>
        {{/unless}}
        {{#if canShare}}
          <div class="item">
            <button id="shareurl" class="button button-block button-positive"><i class="fa fa-share-alt"></i>
              {{__ "Share"}}</button>
          </div>
        {{/if}}
        <div class="item text-center">
          {{> generateQRCode url=shareUrl}}
        </div>
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="generateQRCode">
  {{#if getQRCode}}
    <img src="{{getQRCode}}">
  {{/if}}
</template>