<template name="detailResolutions">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dda.resolution.resolution"}} : </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="detailViewResolutions" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="detailViewResolutions">
  {{#with room}}
    {{#with resolution}}
      <div class="list card">

        <div class="item item-divider">
          {{name}}
        </div>
        <div class="item {{#if creatorProfile.profilThumbImageUrl}}item-avatar{{/if}}">
          {{#if creatorProfile.profilThumbImageUrl}}
            {{> imgDoc profilThumbImageUrl=creatorProfile.profilThumbImageUrl resized="80x80"}}
          {{/if}}
          <h2>
            {{__ 'author'}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id._str scope='citoyens'}}"
              class="dark">{{creatorProfile.name}}</a>
          </h2>
        </div>

        <div class="item item-text-wrap">
          <p>{{description}}</p>
        </div>
        <div class="item item-divider">
          {{__ 'dda.resolution.resolution'}}
        </div>
        {{#if equals status 'adopted'}}
          <div class="item item-text-wrap">
            <p><i class="icon fa fa-bell"></i> {{{__ 'dda.resolution.adopted'}}}
              {{__ 'dda.resolution.endofvote'}} <strong>{{livestamp voteDateEnd}}</strong>
            </p>
          </div>
        {{else if equals status 'refused'}}
          <div class="item item-text-wrap">
            <p><i class="icon fa fa-bell"></i> {{{__ 'dda.resolution.refused'}}}
              {{__ 'dda.resolution.endofvote'}} <strong>{{livestamp voteDateEnd}}</strong>
            </p>
          </div>
        {{/if}}
        <a href="{{pathFor 'proposalsDetail' _id=parentId scope=parentType roomId=idParentRoom proposalId=_id._str}}"
          class="item"><i class="fa fa-chevron-right"></i> {{__ 'dda.resolution.showproposaldetail'}}</a>
      </div>

    {{/with}}
  {{/with}}
</template>