<template name="scopeItemList">
  {{#with item}}
    <a class="item item-text-wrap {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}} animated in out"
      href="{{#if equals scopeVar 'gamesmobile'}}{{pathFor 'gamesDetail' _id=_id._str}}{{else}}{{pathFor 'detailList' _id=_id._str scope=scopeVar}}{{/if}}">
      {{#if profilThumbImageUrl}}
        <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{name}}</h2>
      {{#if ../count}}
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i>
          {{../count}}</span>
      {{/if}}

      {{#if equals scopeVar 'poi'}}
        {{#if type}}
          <p>{{__ (typeI18n type)}}</p>
        {{/if}}
      {{/if}}

      {{#if equals scopeVar 'organizations'}}
        {{#if typeValue}}
          <p>{{typeValue}}</p>
        {{/if}}
      {{/if}}

      {{#if equals scopeVar 'events'}}
        {{#if typeValue}}
          <p>{{typeValue}}</p>
        {{/if}}
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{livestamp endDate}} <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}
      {{#if geo}}
        <p><a class="positive" href="{{pathFor 'mapWith' _id=_id._str scope=scopeVar}}"><i
              class="icon ion-ios-location"></i> {{__ "distance"}} : {{distance geo}} </a></p>
      {{/if}}
    </a>
  {{/with}}
</template>