<template name="newsDetailComments">
  {{#contentFor "headerButtonLeft"}}
    {{#if scope._id._str}}
      {{>ionNavBackButton}}
    {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "comments"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{> commentsAdd}}
        {{> newsDetailCommentsData scope=scope }}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="newsDetailCommentsData">
  {{#with scope.new}}
    <div class="item item-divider">
      <a href="{{pathFor 'newsDetail' _id=target.id newsId=_id._str scope=target.type}}"
        class="positive">{{__ "return_news"}}</a>
    </div>
    {{#each listComments}}
      <div class="list card">
        <div class="item {{#if authorComments.profilThumbImageUrl}}item-avatar{{/if}}">
          {{#if authorComments.profilThumbImageUrl}}
            {{> imgDoc profilThumbImageUrl=authorComments.profilThumbImageUrl resized="80x80"}}
          {{/if}}
          <p><i class="icon ion-person"></i> <a href="{{pathFor 'detailList' _id=author scope='citoyens'}}"
              class="dark">{{authorComments.name}}</a></p>
          <p><i class="icon ion-clock"></i> {{livestamp dateComments}}</p>
        </div>
        {{#if text}}
          <div class="item item-body">
            {{{autolinker (textMentions text)}}}
          </div>
        {{/if}}
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item like-comment" href="#">
            <i class="icon ion-thumbsup"></i>
            {{likesCount}}
          </a>
          <a class="tab-item dislike-comment" href="#">
            <i class="icon ion-thumbsdown"></i>
            {{dislikesCount}}
          </a>
          {{#unless isAuthor}}
            {{#if isReportAbuse}}
              <a class="tab-item assertive disabled" href="">
                <i class="icon fa fa-flag"></i>
              </a>
            {{else}}
              <a class="tab-item action-news-flags" href="">
                <i class="icon fa fa-flag"></i>
              </a>
            {{/if}}
          {{else}}
            {{! Pour passer le playstore}}
            <a class="tab-item action-news-flags" href="">
              <i class="icon fa fa-flag"></i>
            </a>
          {{/unless}}
          {{#if isAuthor}}
            <a class="tab-item action-comment" href="#">
              <i class="icon fa fa-cog"></i>
            </a>
          {{else}}
            {{#if ../scope.isAdmin}}
              <a class="tab-item action-comment" href="#">
                <i class="icon fa fa-cog"></i>
              </a>
            {{/if}}
          {{/if}}
        </div>

      </div>
    {{/each}}
  {{/with}}

</template>

<template name="commentsAdd">
  {{#if error}}
    <div class="item item-text-wrap animated shake homestead text-center">
      {{__ error}}
    </div>
  {{/if}}
  {{#autoForm id="addComment" schema=SchemasCommentsRest type="method" meteormethod="insertComment" template="ionic" class=""}}
    {{> afQuickField name='text' label-type='placeholder' rows=2 type="textareaTribute" class="atwho-inputor"}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{__ "publish"}}</button>
      </div>
    </div>
  {{/autoForm}}
</template>

<template name="commentsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "comment"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a comment"}}
          </div>
          {{#if error}}
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          {{/if}}
          {{#autoForm id="editComment" schema=SchemasCommentsEditRest type="method-update" meteormethod="updateComment" doc=comment template="ionic"}}
            {{> afQuickField name='text' label-type='placeholder' rows=2 type="textareaTribute" class="atwho-inputor"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>