<template name="settings">
  <a class="item item-stable item-icon-right" href="{{pathFor 'changePosition'}}"
    data-ion-menu-close>{{__ "Change location"}} {{> ionIcon icon="location"}}</a>
  <div class="item item-stable item-input item-select">
    <div class="input-label">
      {{__ "radius"}}
    </div>
    <select id="radius">
      {{#if radius}}
        <option value="1000" selected="{{#if isSelected radius '1000'}}selected{{/if}}">1km</option>
        <option value="5000" selected="{{#if isSelected radius '5000'}}selected{{/if}}">5km</option>
        <option value="10000" selected="{{#if isSelected radius '10000'}}selected{{/if}}">10km</option>
        <option value="25000" selected="{{#if isSelected radius '25000'}}selected{{/if}}">25km</option>
      {{else}}
        <option value="1000">1km</option>
        <option value="5000">5km</option>
        <option value="10000" selected="selected">10km</option>
        <option value="25000">25km</option>
      {{/if}}
    </select>
  </div>

  <div class="item item-stable item-toggle">
    {{__ "tracking geolocation"}}
    <label class="toggle toggle-balanced">
      <input id="geolocate" type="checkbox" checked="{{#if geolocate}}checked{{/if}}">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>

</template>