<template name="listContributors">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "contributors"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <div class="list">
          <div class="item item-divider">
            <i class="icon ion-ios-people"></i> {{__ "contributors"}} <span
              class="badge badge-dark">{{projects.countContributors}}</span>
          </div>
          {{#transition in="zoomIn" out="bounceOut"}}
            {{#each projects.listContributors}}
              <div class="item item-avatar item-button-right animated out">
                {{> imgDoc}}
                <h2><a href="{{pathFor 'detailList' _id=_id._str scope='citoyens'}}" class="dark">{{name}}</a></h2>
                {{#if isFollowsContributors _id._str}}
                  <button class="button button-positive unfollowperson-link">
                    <i class="icon fa fa-unlink"></i>
                  </button>
                {{else}}
                  <button class="button button-positive followperson-link">
                    <i class="icon ion-person-add"></i>
                  </button>
                {{/if}}
              </div>
            {{/each}}
          {{/transition}}
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="chatProjects">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Chat projects"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="content-stable"}}

      <div class="messages">
        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each message in messages}}
            <div class="message">
              <span>{{ message.text }}</span>
            </div>
            <div class="time">{{message.time}}</div>
          {{/each}}
        {{/transition}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>