<template name="mapEvents">
{{#contentFor "headerButtonLeft"}}

{{/contentFor}}

{{#contentFor "headerButtonRight"}}

{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "Carte"}}</h1>
{{/contentFor}}

 {{#ionView}}
    {{#ionContent}}
{{> mapevent}}
      {{/ionContent}}
  {{/ionView}}
</template>

<template name="mapevent">
  <div id="map_canvas" class="map"></div>
</template>

<template name="mapeventpopup">
  <h2><a href="{{pathFor 'newsList' _id=this._id._str scope="events"}}">{{name}}</a></h2>
  <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i> {{countAttendees}}</span>
  <p>
    {{#if isStart}}
    <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
    <i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>
    <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
    {{else}}
    <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
    <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
    {{/if}}
    <i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}}
  </p>
</template>
