<template name="listOrganizations">
  {{> testgeo}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}} {{> cityTitle}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchOrganizations}}">
          </label>
          <div class="button-bar button-small">
            {{#each listOrganisationTypes}}
              <a class="button button-small {{#if equals selectorga value}}button-positive activated{{else}}button-positive{{/if}} selectorga"
                id="{{value}}" data-id="{{value}}">{{label}}</a>
            {{/each}}
          </div>
        </div>

        <div class="list list-inset">

          <div class="item item-divider">
            <i class="icon fa fa-users"></i> {{__ "organizations"}} <span
              class="badge badge-dark">{{countOrganizations}}</span>
          </div>

          {{#if dataReady}}
            {{#transition in="zoomIn" out="bounceOut"}}

              {{#each item in organizations}}
                {{> scopeItemList item=item count=(item.countMembers '')}}
              {{else}}

              {{/each}}
            {{/transition}}
          {{/if}}
        </div>

        <ul id="floating-button">
          <li class="organization-bg"><a href="{{pathFor 'organizationsAdd' _id=currentUser._id scope='citoyens'}}"
              style="color:white;">
              <i class="icon menu-icon ion-plus"></i></a>
          </li>
        </ul>

      {{/ionContent}}
    {{/ionView}}

    {{#if currentUser}}
      {{#ionTabs class="tabs-dark tabs-icon-only"}}
        {{> ionTab title=_events path="listOrganizations" iconOff="navicon-round" iconOn="navicon-round"}}
        {{#unless dataReady}}
          <a class="tab-item">
            <i class="fa fa-refresh fa-spin" style="font-size: 18px;"></i>
          </a>
        {{else}}
          {{> ionTab title=_cartes href="map/organizations" iconOff="android-pin" iconOn="android-pin"}}
        {{/unless}}
      {{/ionTabs}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Create a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addOrganization" schema=SchemasOrganizationsRest type="method" meteormethod="insertOrganization" template="ionic"}}
            {{> organizationsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editOrganization" schema=SchemasOrganizationsRest type="method-update" meteormethod="updateOrganization" doc=organization template="ionic"}}
            {{> organizationsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockOrganization" schema=blockSchema type="method-update" meteormethod="updateBlock" autosave=true doc=organization template="ionic"}}
              {{> organizationsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockOrganization" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=organization template="ionic"}}
              {{> organizationsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='email'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='fixe'}}
    {{> afQuickField name='mobile'}}
    {{> afQuickField name='fax'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "Vous proposez vos données en accès libre, afin de contribuer au bien commun"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "Tous les utilisateurs ont la possibilité de participer / modifier les informations"}}
      </div>
    </div>

    {{> afQuickField name='preferences'}}

  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode"}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='shortDescription' rows=8}}
    {{#if update}}
      {{> afQuickField name='description' rows=8}}
    {{/if}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='role'}}
    {{> afQuickField name='email'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='fixe'}}
    {{> afQuickField name='mobile'}}
    {{> afQuickField name='fax'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode"}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}

    {{/if}}
  {{/unless}}
</template>