<template name="testgeo">

</template>

<template name="cityTitle">
    {{#if city}} : {{city.name}}{{/if}}
</template>

<template name="afTextareaTribute">
    <textarea {{atts}}>{{this.value}}</textarea>
</template>