<template name="detailActions">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "dda.actions.action"}} : </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="detailViewActions" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="detailViewActions">
  {{#with room}}
    {{#with action}}
      <div class="list card">
        {{> buttonsActions _id=parentId scope=parentType roomId=idParentRoom actionId=_id._str status=status isCreator=isCreator isAdmin=../../isAdmin}}

        <div class="item item-divider">
          {{name}}
        </div>
        <div class="item {{#if creatorProfile.profilThumbImageUrl}}item-avatar{{/if}}">
          {{#if creatorProfile.profilThumbImageUrl}}
            {{> imgDoc profilThumbImageUrl=creatorProfile.profilThumbImageUrl resized="80x80"}}
          {{/if}}
          <h2>
            {{__ 'author'}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id._str scope='citoyens'}}"
              class="dark">{{creatorProfile.name}}</a>
          </h2>
        </div>
        {{> statusActions status=status}}
        <div class="item item-text-wrap">
          <p>{{__ "dda.actions.actionstartenddate" start=formatStartDate  end=formatEndDate}},
            {{__ "dda.actions.endofaction"}} <strong>{{livestamp endDate}}</strong>
          </p>
        </div>

        <div class="item item-text-wrap">
          <p>{{description}}</p>
          {{#if tags}}
            <p>
              {{#each tags}}
                <span class=""><i class="icon ion-pound"></i> {{this}}</span>
              {{/each}}
            </p>
          {{/if}}
        </div>
      </div>

      {{#if equals status 'todo'}}

      {{else if equals status 'disabled'}}

      {{else if equals status 'done'}}

      {{else if equals status 'closed'}}

      {{/if}}

      <div class="list padding">
        <div class="item item-divider">
          <i class="fa fa-group"></i> {{__ "dda.actions.theytakeaction"}}
        </div>
        {{#if isContributors}}
          <div class="item">
            <span class="balanced"><i class="fa fa-check"></i> {{__ "dda.actions.youparticipatingaction"}}</span>
          </div>
        {{else}}
          <div class="button-bar bar-positive">
            <button class="button button-small action-assignme-js"><i class="fa fa-handshake-o"></i>
              {{__ "dda.actions.wantparticipateaction"}}</button>
          </div>
        {{/if}}

        {{#each contributor in listContributors}}
          <div class="item {{#if contributor.profilThumbImageUrl}}item-avatar{{/if}}">
            {{#if contributor.profilThumbImageUrl}}
              {{> imgDoc profilThumbImageUrl=contributor.profilThumbImageUrl resized="80x80"}}
            {{/if}}
            <h2>
              <a href="{{pathFor 'detailList' _id=contributor._id._str scope='citoyens'}}"
                class="dark">{{contributor.name}}</a>
            </h2>
          </div>
        {{else}}
          <div class="item">
            {{__ "dda.actions.noparticipants"}}
          </div>
        {{/each}}

      </div>

      <div class="list">
        <a href="{{pathFor 'actionsDetailComments' _id=parentId scope=parentType roomId=idParentRoom actionId=_id._str}}"
          class="item">
          <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
            class="badge badge-balanced">{{commentsCount}}</span>
        </a>
      </div>

    {{/with}}
  {{/with}}
</template>

<template name="buttonsActions">
  {{#if equals status 'todo'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="disabled"><i class="icon fa fa-times"></i>
          {{__ "dda.actions.buttons.disable"}}</button>
        <button class="button button-small action-action-js" data-action="done"><i class="icon fa fa-trash"></i>
          {{__ "dda.actions.buttons.close"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="disabled"><i class="icon fa fa-times"></i>
          {{__ "dda.actions.buttons.disable"}}</button>
        <button class="button button-small action-action-js" data-action="done"><i class="icon fa fa-trash"></i>
          {{__ "dda.actions.buttons.close"}}</button>
      </div>
    {{/if}}
  {{else if equals status 'disabled'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="done"><i class="icon fa fa-trash"></i>
          {{__ "dda.actions.buttons.close my action"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="done"><i class="icon fa fa-trash"></i>
          {{__ "dda.actions.buttons.close"}}</button>
      </div>
    {{/if}}
  {{else if equals status 'done'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="disabled"><i class="icon fa fa-times"></i>
          {{__ "dda.actions.buttons.disable"}}</button>
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small"><i class="icon fa fa-pencil"></i></a>
        <button class="button button-small action-action-js" data-action="disabled"><i class="icon fa fa-times"></i>
          {{__ "dda.actions.buttons.disable"}}</button>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="statusActions">
  {{#if equals status 'todo'}}
    <div class="item">
      <strong>{{__ 'dda.actions.status.inprogress'}}</strong> > {{__ 'dda.actions.status.completed'}}
    </div>
  {{else if equals status 'disabled'}}
    <div class="item">
      <strong>{{__ 'dda.actions.status.disabled'}}</strong> > {{__ 'dda.actions.status.completed'}}
    </div>
  {{else if equals status 'done'}}
    <div class="item">
      {{__ 'dda.actions.status.todo'}} > <strong>{{__ 'dda.actions.status.completed'}}</strong>
    </div>
  {{/if}}
</template>

<template name="actionsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "actions"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "creating a new action"}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addAction" schema=SchemasActionsRest type="method" meteormethod="insertAction" singleMethodArgument=true template="ionic" class="padding"}}
          {{> actionsFields}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="actionsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "actions"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "edit a action"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editAction" schema=SchemasActionsRest type="method-update" meteormethod="updateAction" doc=action singleMethodArgument=true template="ionic" class="padding"}}
            {{> actionsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="actionsFields">
  {{> afQuickField name='name'}}
  {{> afQuickField name='description' rows=8}}
  {{> afQuickField name='startDate' type="datetime-local"}}
  {{> afQuickField name='endDate' type="datetime-local"}}
  {{> afQuickField name='tags'}}
  {{> afQuickField name='urls'}}
</template>