<template name="listEvents">
  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "events"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
  {{#if currentUser}}
  <a href="{{pathFor 'eventsAdd'}}" class="button button-clear">{{> ionIcon icon="android-add-circle"}}</a>
  {{/if}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#if isCordova}}
  {{#if currentUser}}
  <button class="button button-clear scanner">{{> ionIcon icon="ios-barcode"}}</button>
  {{/if}}
  {{/if}}
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}

  <div class="padding">
    <div class="button-bar bar-positive">
      <button class="button triEvents {{#if equals "Current" sortEvents}}button-dark{{/if}}" value="Current"><i class="icon ion-android-alarm-clock"></i> {{countEventsCurrent}} {{_ "Current"}}</button>
      <button class="button triEvents {{#if equals "Upcoming" sortEvents}}button-dark{{/if}}" value="Upcoming"><i class="icon ion-android-calendar"></i> {{countEventsUpcoming}} {{_ "Upcoming"}}</button>
      <button class="button triEvents {{#if equals "History" sortEvents}}button-dark{{/if}}" value="History"><i class="icon ion-android-archive"></i> {{countEventsHistory}} {{_ "History"}}</button>
    </div>
  </div>

  <div class="padding">
    <div class="list">

      <div class="item item-divider">
        <i class="ion-android-calendar"></i> {{_ "events"}} <span class="badge badge-dark">{{countEvents}}</span>
      </div>
      {{#transition in="zoomIn" out="bounceOut"}}
      {{#each events}}
      <a class="item animated out" href="{{pathFor 'newsList' _id=this._id._str scope="events"}}">
        <h2>{{name}}</h2>
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i> {{countAttendees}}</span>
        <p>
          {{#if isStart}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
          {{else}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
          {{/if}}
          <a class="button button-clear" href="{{pathFor 'mapWithEvent' _id=_id._str}}"><i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}} </a>

        </p>
        {{#if currentUser}}
        {{#if isCreator}}

        {{/if}}
        {{/if}}
      </a>
      {{/each}}
      {{/transition}}
    </div>
  </div>

  {{/ionContent}}
  {{/ionView}}
</template>

<template name="eventsAdd">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "Create a event"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "Create a event"}}
    </div>
    {{#autoForm id="addEvent" schema=Schemas.EventsRest type="method" meteormethod="insertEvent" template="ionic" class="padding"}}
    {{> eventsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "create"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>


<template name="eventsEdit">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "events"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "Edit a event"}}
    </div>
    {{#autoForm id="editEvent" schema=Schemas.EventsRest type="method-update" meteormethod="updateEvent" doc=event template="ionic" class="padding"}}
    {{> eventsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "edit"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>

<template name="eventsFields">
  {{> afQuickField name='name'}}
  {{> afQuickField name='description' rows=8}}
  {{> afQuickField name='type'}}
  {{> afQuickField name='allDay'}}
  {{> afQuickField name='startDate'}}
  {{> afQuickField name='endDate'}}
  {{> afQuickField name='country' autocomplete="off"}}
  {{#if currentFieldValue "country"}}
  {{> afQuickField name='postalCode' autocomplete="off"}}
  {{#if currentFieldValue "postalCode"}}
  {{#if optionsInsee}}
  {{> afQuickField name='city' options=optionsInsee}}
  {{else}}
  <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i> {{_ "Error not postal code match"}}</div>
  {{/if}}
  {{/if}}
  {{> afQuickField name='streetAddress' autocomplete="off"}}
  {{#if latlng}}
  {{> map}}
  {{/if}}
  {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
  {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
  {{/if}}
</template>
