<template name="listEvents">
  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "events"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#if isCordova}}
  {{#if currentUser}}
  <button class="button button-clear scanner">{{> ionIcon icon="ios-barcode"}}</button>
  {{/if}}
  {{/if}}
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}

  <div class="padding">
    <div class="list">
      <div class="item item-divider">
        <i class="ion-android-calendar"></i> {{_ "events"}} <span class="badge badge-dark">{{countEvents}}</span>
      </div>
      {{#transition in="zoomIn" out="bounceOut"}}
      {{#each events}}
      <a class="item animated out" href="{{pathFor 'newsList' _id=this._id._str scope="events"}}">
        <h2>{{name}}</h2>
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i> {{countAttendees}}</span>
        <p>
          {{#if isStart}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
          {{else}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
          {{/if}}
          <a class="button button-clear" href="{{pathFor 'mapWithEvent' _id=_id._str}}"><i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}} </a>

        </p>
        {{#if currentUser}}
        {{#if isCreator}}

        {{/if}}
        {{/if}}
      </a>
      {{/each}}
      {{/transition}}
    </div>
  </div>

  {{/ionContent}}
  {{/ionView}}
</template>
