<template name="listCitoyens">
  {{> testgeo}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "citoyens"}} {{> cityTitle}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchCitoyens}}">
          </label>
        </div>

        <div class="list list-inset">

          <div class="item item-divider">
            <i class="ion-android-calendar"></i> {{__ "citoyens"}} <span
              class="badge badge-dark">{{countCitoyens}}</span>
          </div>
          {{#if dataReady}}
            {{#transition in="zoomIn" out="bounceOut"}}
              {{#each item in citoyens}}
                {{> scopeItemList item=item}}
              {{else}}

              {{/each}}
            {{/transition}}
          {{/if}}
        </div>

      {{/ionContent}}
    {{/ionView}}

    {{#if currentUser}}
      {{#ionTabs class="tabs-dark tabs-icon-only"}}
        {{> ionTab title=_events path="listCitoyens" iconOff="navicon-round" iconOn="navicon-round"}}
        {{#unless dataReady}}
          <a class="tab-item">
            <i class="fa fa-refresh fa-spin" style="font-size: 18px;"></i>
          </a>
        {{else}}
          {{> ionTab title=_cartes href="map/citoyens" iconOff="android-pin" iconOn="android-pin"}}
        {{/unless}}
      {{/ionTabs}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="citoyensBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "citoyens"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a citoyen"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}

          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen autosave=true template="ionic" class="padding"}}
              {{> citoyensFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockCitoyen" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=citoyen template="ionic" class="padding"}}
              {{> citoyensFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="citoyensEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "citoyens"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a citoyen"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editCitoyen" schema=SchemasCitoyensRest type="method-update" meteormethod="updateCitoyen" doc=citoyen template="ionic" class="padding"}}
            {{> citoyensFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="citoyensFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name' label-type='placeholder' icon="fa fa-user positive"}}
    {{> afQuickField name='email' label-type='placeholder' icon="fa fa-envelope"}}
    {{> afQuickField name='url' label-type='placeholder' icon="fa fa-link"}}
    {{> afQuickField name='fixe' label-type='placeholder' icon="fa fa-phone"}}
    {{> afQuickField name='mobile' label-type='placeholder' icon="fa fa-mobile"}}
    {{> afQuickField name='fax' label-type='placeholder' icon="fa fa-fax"}}
    {{> afQuickField name='birthDate' label-type='placeholder' icon="fa fa-birthday-cake"}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='telegram' label-type='placeholder' icon="fa fa-telegram"}}
    {{> afQuickField name='skype' type="url" label-type='placeholder' icon="fa fa-skype"}}
    {{> afQuickField name='github' type="url" label-type='placeholder' icon="fa fa-github"}}
    {{> afQuickField name='twitter' type="url" label-type='placeholder' icon="fa fa-twitter"}}
    {{> afQuickField name='facebook' type="url" label-type='placeholder' icon="fa fa-facebook"}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}
    {{> afQuickField name='description' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Public"}}</strong> : {{__ "Visible pour tout le monde"}}<br>
        <strong>{{__ "Privé"}}</strong> : {{__ "Visible pour mes contacts seulement"}}<br>
        <strong>{{__ "Masqué"}}</strong> : {{__ "Visible pour personne"}}<br>
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "Vous proposez vos données en accès libre, afin de contribuer au bien commun"}}
      </div>
    </div>
    {{> afQuickField type="select-radio" name='preferences.email'}}
    {{> afQuickField type="select-radio" name='preferences.locality'}}
    {{> afQuickField type="select-radio" name='preferences.phone'}}
    {{> afQuickField type="select-radio" name='preferences.directory'}}
    {{> afQuickField type="select-radio" name='preferences.birthDate'}}
    {{> afQuickField name='preferences.isOpenData'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode"}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' label-type='stacked' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

</template>

<template name="citoyenChangePassword">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "change password"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "change password"}}
          </div>
          {{#if error}}

          {{/if}}
          {{#autoForm id="citoyenChangePassword" schema=SchemasChangePasswordRest type="method" meteormethod="changePassword" singleMethodArgument=true template="ionic"}}
            {{> afQuickField name='oldPassword' type="password"}}
            {{> afQuickField name='newPassword' type="password"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "change password"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>