<template name="listEvents">
  {{> testgeo}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}} {{> cityTitle}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchEvents}}">
          </label>
          <div class="button-bar bar-positive">
            <button class="button triEvents {{#if equals "Current" sortEvents}}button-dark{{/if}}" value="Current"><i
                class="icon ion-android-alarm-clock"></i> {{countEventsCurrent}} {{__ "Current"}}</button>
            <button class="button triEvents {{#if equals "Upcoming" sortEvents}}button-dark{{/if}}" value="Upcoming"><i
                class="icon ion-android-calendar"></i> {{countEventsUpcoming}} {{__ "Upcoming"}}</button>
          </div>
        </div>

        <div class="list list-inset">

          <div class="item item-divider">
            <i class="ion-android-calendar"></i> {{__ "events"}} <span class="badge badge-dark">{{countEvents}}</span>
          </div>
          {{#if dataReady}}
            {{#transition in="zoomIn" out="bounceOut"}}
              {{#each item in events}}
                {{> scopeItemList item=item count=item.countAttendeesSimple}}
              {{else}}

              {{/each}}
            {{/transition}}
          {{/if}}
        </div>

        <ul id="floating-button">
          <li class="event-bg"><a href="{{pathFor 'eventsAdd' _id=currentUser._id scope='citoyens'}}"
              style="color:white;">
              <i class="icon menu-icon ion-plus"></i></a>
          </li>
        </ul>

      {{/ionContent}}
    {{/ionView}}

    {{#if currentUser}}
      {{#ionTabs class="tabs-dark tabs-icon-only"}}
        {{> ionTab title=_events path="listEvents" iconOff="navicon-round" iconOn="navicon-round"}}
        {{#unless dataReady}}
          <a class="tab-item">
            <i class="fa fa-refresh fa-spin" style="font-size: 18px;"></i>
          </a>
        {{else}}
          {{> ionTab title=_cartes href="map/events" iconOff="android-pin" iconOn="android-pin"}}
        {{/unless}}
      {{/ionTabs}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Create a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addEvent" schema=SchemasEventsRest type="method" meteormethod="insertEvent" template="ionic"}}
            {{> eventsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editEvent" schema=SchemasEventsRest type="method-update" meteormethod="updateEvent" doc=event template="ionic"}}
            {{> eventsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsBlockEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event autosave=true template="ionic"}}
              {{> eventsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event template="ionic"}}
              {{> eventsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='url'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
  {{/if}}

  {{#if equals block 'when'}}
    {{> afQuickField name='startDate' type="datetime-local"}}
    {{> afQuickField name='endDate' type="datetime-local"}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "Vous proposez vos données en accès libre, afin de contribuer au bien commun"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "Tous les utilisateurs ont la possibilité de participer / modifier les informations"}}
      </div>
    </div>
    {{> afQuickField name='preferences.isOpenData'}}
    {{> afQuickField name='preferences.isOpenEdition'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode"}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name'}}

    {{#if update}}
      {{> afQuickField name='shortDescription' rows=8}}
      {{> afQuickField name='description' rows=8}}
    {{else}}
      {{> afQuickField name='description' rows=8}}
    {{/if}}

    {{> afQuickField name='organizerType' type='select' value=organizerType}}
    {{#if dataReadyOrganizer}}
      {{#if organizerType}}
        {{#if optionsOrganizerId organizerType}}
          {{> afQuickField name='organizerId' type='select' options=(optionsOrganizerId organizerType) value=organizerId}}

          {{#if organizerId}}
            {{#if dataReadyParent}}
              {{#if optionsParentId organizerType organizerId}}
                {{> afQuickField name='parentId' options=(optionsParentId organizerType organizerId)}}
              {{/if}}
            {{/if}}
          {{/if}}

        {{/if}}
      {{/if}}
    {{/if}}

    {{> afQuickField name='type'}}
    {{> afQuickField name='startDate' type="datetime-local"}}
    {{> afQuickField name='endDate' type="datetime-local"}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode"}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
      {{#if update}}
        {{> afQuickField name='preferences'}}
      {{/if}}
    {{/if}}
  {{/unless}}
</template>