<template name="detailGames">
    {{#contentFor "headerTitle"}}
        <h1 class="title">{{__ "games.game"}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}

    {{/contentFor}}

    {{#if dataReady}}
        {{#ionView}}
            {{#ionContent}}
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item {{#if equals selectview 'detailGamesView'}}tab-item-active{{/if}}"
                        href="{{pathFor 'gamesDetail' _id=scope._id._str}}" id="detailGamesView">
                        <i class="icon fa fa-home"></i>
                    </a>
                    <a class="tab-item {{#if equals selectview 'gameScoreBoard'}}tab-item-active{{/if}}"
                        href="{{pathFor 'gameScoreBoard' _id=scope._id._str}}" id="gameScoreBoard">
                        <i class="icon fa fa-trophy"></i>
                    </a>
                </div>
                {{> Template.dynamic template=selectview data=scope}}
            {{/ionContent}}
        {{/ionView}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="detailGamesView">

    <div class="list">
        <div class="item item-divider">
            {{name}}
        </div>
        <div class="item item-text-wrap">
            <p>{{description}}</p>
        </div>
    </div>
    {{#if isStart}} {{#if isEnd}} {{> gameIsEnd}} {{else}} {{> gameIsStart}} {{/if}} {{else}} {{> gameNotStart}} {{/if}}

</template>

<template name="gameNotStart">
    <div class="list">
        <div class="item item-text-wrap">
            <p class="text-center">
                <span class="assertive">{{__ "games.game_not_start"}}</span>
            </p>
        </div>

        <div class="row-center">
            <div class="col text-center">
                {{__ "games.start_date_of_the_game"}}
            </div>
            <div class="col text-center">
                <strong>{{formatStartDate}}</strong>
            </div>

            <div class="col text-center">
                {{__ "games.end_date_of_the_game"}}
            </div>
            <div class="col text-center">
                <strong>{{formatEndDate}}</strong>
            </div>

            <div class="col text-center">
                {{__ "games.end_of_the_game"}}
            </div>
            <div class="col text-center">
                <strong>{{timeSpentEnd}}</strong>
            </div>

            <div class="col text-center">
                {{__ "games.the_game_will_start"}}
            </div>
            <div class="col text-center">
                <strong>{{timeSpentStart}}</strong>
            </div>
        </div>
    </div>
</template>

<template name="gameIsEnd">
    <div class="list">
        <div class="item item-text-wrap">
            <p><span class="assertive">{{__ "games.game_is_end"}} - {{__ "games.player" count=numberPlayers}}</span></p>
        </div>
        {{#with playerMe}}
            {{#if finishedAt}}
                <div class="item item-text-wrap">
                    <p>{{__ "games.finished"}}
                        <strong>{{livestamp finishedAt}}</strong>
                        <br> {{__ "games.game_completed_in"}}
                        <strong>{{diffInText createdAt finishedAt}}</strong>
                        <br>
                        {{{__ "games.point" count=totalPoint}}}
                    </p>
                </div>
            {{else}}
                <p>{{__ "games.not_finished"}}
                    <br>
                    {{{__ "games.point" count=totalPoint}}}
                </p>
            {{/if}}

        {{/with}}
    </div>
</template>

<template name="gameIsStart">
    <div class="list">
        <div class="item item-text-wrap">
            <p class="text-center">
                <span class="balanced">{{__ "games.game_is_start"}} - {{__ "games.player" count=numberPlayers}}</span>
            </p>
        </div>

        <div class="row">
            <div class="col text-center">
                {{__ "games.end_date_of_the_game"}}
            </div>
            <div class="col text-center">
                <strong>{{formatEndDate}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{__ "games.end_of_the_game"}}
            </div>
            <div class="col text-center">
                <strong>{{timeSpentEnd}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {{__ "games.game_is_start"}}
            </div>
            <div class="col text-center">
                <strong>{{timeSpentStart}}</strong>
            </div>
        </div>
    </div>

    {{#with playerMe}}
        {{#if finishedAt}}
            <div class="list">
                <div class="row">
                    <div class="col text-center">
                        {{__ "games.finished"}}
                    </div>
                    <div class="col text-center">
                        <strong>{{livestamp finishedAt}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        {{__ "games.game_completed_in"}}
                    </div>
                    <div class="col text-center">
                        <strong>{{diffInText createdAt finishedAt}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <strong
                            style="font-family: Homestead;color: #E33551;text-align: center;">{{{__ "games.point" count=totalPoint}}}</strong>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="list">
                <div class="item item-text-wrap text-center">
                    {{{__ "games.you_started_playing" playTimeSpentStart=playTimeSpentStart point=(_ "games.point" count=totalPoint)}}}
                </div>
            </div>
            <div class="list">
                <div class="item item-divider">
                    {{__ "games.question"}}
                </div>
                {{#transition in="slideInUp:500" out="slideOutRight"}}
                    {{#each quest in listQuestsNoValid}}
                        <div class="item item-text-wrap animated out">
                            <p>
                                {{__ "games.question"}} {{quest.order}} : {{quest.question}}
                            </p>
                            {{> buttonQuestValidate gameId=../_id._str questId=quest._id._str choiceId=quest.questId}}
                        </div>
                    {{/each}}
                {{/transition}}
            </div>
        {{/if}}
        <div class="list">
            <div class="item item-divider">
                {{__ "games.result_of_the_questions"}}
            </div>
            {{#each quest in listQuestsValid}}
                {{>itemQuest quest=quest questvalid=(questIsValid quest._id._str)}}
            {{/each}}
        </div>
        {{else}}
            <div class="list">
                <div class="item">
                    {{> buttonGameParticipate gameId=_id._str}}
                </div>
            </div>
    {{/with}}

</template>

<template name="buttonGameParticipate">
    <button class="button button-positive button-block game-participate-js"><i class="icon fa fa-play-circle"></i>
        {{__ "games.play_the_game"}}</button>
</template>

<template name="buttonQuestValidate">

</template>

<template name="itemQuest">
    <div class="item item-text-wrap {{#if questvalid}}item-balanced{{else}}item-assertive{{/if}}">
        {{__ "games.question"}} {{quest.order}} : {{quest.question}}
    </div>
    {{#with quest.objectQuest}}
        <a class="item {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}}"
            href="{{pathFor 'detailList' _id=_id._str scope=scopeVar}}">
            {{#if profilThumbImageUrl}}
                <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}"> {{/if}}
            <h2>{{name}}</h2>
            {{#if geo}}
                <p>
                    <a class="positive" href="{{pathFor 'mapWith' _id=_id._str scope=scopeVar}}">
                        <i class="icon ion-ios-location"></i> {{__ "distance"}} : {{distance geo}} </a>
                </p>
            {{/if}}
            <span class="badge badge-balanced">{{../quest.numberPlayerValidate}}</span>
        </a>
    {{/with}}
</template>

<template name="gameScoreBoard">
    <div class="list">
        <div class="item item-divider">
            {{__ "games.scoreboard"}}
        </div>
        {{#each player in listPlayers}}
            <div class="item {{#if player.playerProfile.profilThumbImageUrl}}item-avatar{{/if}}">
                {{#if player.playerProfile.profilThumbImageUrl}}
                    {{> imgDoc profilThumbImageUrl=player.playerProfile.profilThumbImageUrl resized="80x80"}}
                {{/if}}
                <h2>
                    <a href="{{pathFor 'detailList' _id=player.playerProfile._id._str scope='citoyens'}}"
                        class="dark">{{player.playerProfile.name}}</a>
                </h2>
                {{#if player.isMe}}
                    <p>{{__ "games.me"}}</p>
                {{/if}}
                {{#if player.finishedAt}}
                    <p>{{__ "games.finished"}} <strong>{{livestamp player.finishedAt}}</strong><br>
                        {{__ "games.game_completed_in"}}
                        <strong>{{diffInText player.createdAt player.finishedAt}}</strong>
                    </p>
                {{/if}}

                <span
                    class="badge {{#if player.finishedAt}}badge-balanced{{else}}badge-energized{{/if}}">{{{__ "games.point" count=player.totalPoint}}}</span>
            </div>
        {{else}}
            <div class="item">
                {{__ "games.no_players"}}
            </div>
        {{/each}}
    </div>
</template>