<template name="changePosition">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Change location"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <div class="list list-inset" data-snap-ignore="true">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="{{__ "Search a city or postal code"}}" value="{{filter}}">
          </label>
        </div>
        {{#if cities}}
          <div class="item item-divider">
            <i class="icon ion-location"></i> {{__ "Cities"}} <span class="badge badge-dark">{{countCities}}</span>
          </div>
        {{/if}}
        {{#each cities}}
          <div class="item item-icon-left city">
            {{name}} - {{#if regionName}}{{regionName}}{{else if level3Name}}{{level3Name}} - {{level1Name}}{{/if}}
            {{> ionIcon icon="location"}}
          </div>
        {{else}}
          {{#ionItem}}
            {{#if filter}}
              {{__ "No Cities found"}}
            {{else}}
              {{__ "Enter a search term"}}
            {{/if}}
          {{/ionItem}}
        {{/each}}
      {{/ionList}}

    {{/ionContent}}
  {{/ionView}}
</template>